    <div class="col">
        <h6>300 products</h6>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Sort by featured
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">A</a></li>
                <li><a class="dropdown-item" href="#">B</a></li>
                <li><a class="dropdown-item" href="#">C</a></li>
            </ul>
        </div>
    </div>
    <div>
        <button class="btn default">Branch
            <span><button type="button" class="btn-close" aria-label="Close"></button></span>
        </button>
        <button class="btn default">NEWYORK
            <span><button type="button" class="btn-close" aria-label="Close"></button></span>
        </button>
        <button class="btn default">Fulton Street
            <span><button type="button" class="btn-close" aria-label="Close"></button></span>
        </button>

    </div>
    <div class="img row">
        <div class="col">
            <img src="../../assets/Sample_image.png" class="img-fluid" alt="img1">
            <img src="../../assets/Sample_image.png" class="img-fluid" alt="img2">
            <!-- <img src="../../assets/Sample_image.png" class="img-fluid" alt="img3"> -->
        </div>
    </div>
    <div class="img row">
        <div class="col">
            <img src="../../assets/Sample_image.png" class="img-fluid" alt="img1">
            <img src="../../assets/Sample_image.png" class="img-fluid" alt="img2">
            <!-- <img src="../../assets/Sample_image.png" class="img-fluid" alt="img3"> -->
        </div>
    </div>
